@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-height: 100svh;
  overflow: hidden;
  top: 0;
}

*::-webkit-scrollbar {
  display: none;
}

.twitter-picker {
  position: fixed !important;
}